* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', 'Arial', 'sans-serif';
    line-height: 1.5;
    color: #555;

    display: grid;
    grid-template-columns: 1fr 1fr;
   grid-template-rows: 100px auto 100px;
}

a {
    color: black;
    text-decoration: underline;
    text-decoration-thickness: 5px;
    /* justify-self: baseline; */
}

header {
    grid-column-start: 1;
    grid-column-end: 3;
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: #555;
    color: #555;
    align-items: center;
}

button {
    background-color: rgb(70, 183, 166);
    size: 90px;
    margin: 5px;
    padding: 20px;
 }

/* logo {
    size: 90px;
} */

 logo h1 {
    color:#555;
    /* size: 80px; */

 }

header nav {
    justify-self: flex-end;
}

header nav a {
    color: rgb(70, 183, 166);
}

header nav a:hover {
    text-decoration: underline;
}

main {
    grid-column: 1 / 3;
    display: grid;
    grid-template-columns: 1fr 2fr 3fr;
}

h2 {
    align-self: center;
}

main section {
    background-color: lightseagreen;
    padding: 15px;
    border: 3px solid black;
}

.hero-image {
    display: grid;
    grid-column: 1 /4;
    background-image: url("../images/02-hero-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    grid-gap: 1.25rem;

}

.hero-text {
    text-align:right;
    justify-self: flex-end;
    position:absolute;
    top: 80%;
    right: 2%;
    color: white;
}
.about {
    display: grid;
    grid-column: 1/4;
    grid-template-columns: 25% / 75%;
    background-image: url(../images/harley-davidson-breakout-picture-gallery-10399.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    grid-gap: 1.25rem;
}
.about p {
    display: grid;
    grid-column: 2 / 4;
    border-left: 10px;
    border-color: #fff;
}

.work {
    display: grid;
    grid-column: 1/4;
    grid-template-columns: 25% / 75%;
    background-image: url(../images/02-portfolio-2.jpg);
    grid-gap: 1.25rem;
}

.work p {
    display: grid;
    grid-column: 2 / 4;
    border-left: 10px;
    border-color: #fff;
}
footer {
    display: grid;
    grid-column: 1/4;
    align-items: center;
    grid-template-columns: 1fr 2fr;
    background-color: white;
    color: #0000
}

.contact me {
    color: black;
}
footer nav {
    justify-self: center;
}

footer h2 {
    margin-left: 10px;
    color: #555;
}
footer nav a {

    color: black;
    margin: 30px;
}

footer nav a:hover {
    text-decoration: underline;
}